@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0 auto;
  font-size: 18px;
  background-color: black;
  overflow-x: hidden;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 15px;
  height: 5vw;
  font-size: x-large;
  background-color: transparent;
}

a {
  color: #f1c40f;
  margin: 2vw;
  text-decoration: none;
}

a:hover {
  color: #f17c0f;
  margin: 2vw;
  transition: 500ms;
}

footer {
  color: white;
  padding: 2vh;
  font-family: "Montserrat";
  text-align: center;
}
