body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border: 3px solid #000;
}

h1 {
  text-align: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 350px;
  height: 490px;
  margin: 1vw;
  display: flex;
  border: 3px solid #000;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.item img {
  width: 200px;
  height: auto;
}

.item p {
  font-weight: 600;
  font-size: 18px;
}

.item .square {
  width: 110px;
  height: 90px;
  border: 3px solid #000;
}

/* Made with love by Gabriel Lobo */
